[submodule "emacs.d/vender/init-loader"]
	path = emacs.d/vender/init-loader
	url = git://gist.github.com/1021706.git
[submodule "emacs.d/vender/undo-tree"]
	path = emacs.d/vender/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
